# input().split()과 map

```
input().split()과 map - 파이썬 코딩 도장
```
- https://dojang.io/mod/page/view.php?id=2286

- 숫자 1개 이상 들어갈수 있다. -> 리스트 만들수 있음.

In [82]:
a = input().split()

1 2 3 4 5

In [83]:
a

['1', '2', '3', '4', '5']

- map 함수를 사용할 경우 list로 다시 묶어줘야한다.

In [106]:
# split 안해준경우
b = map(int, input())

123

In [108]:
list(b)

[1, 2, 3]

In [75]:
# split 해준경우
a = map(int, input().split())

10 20

In [76]:
print(a)

<map object at 0x000001A7F67A5700>

In [78]:
list(a)

[10, 20]

- 변수 두개일 경우 ( .split() 필수)

In [2]:
a,b = map(int,input().split())

1 2

In [3]:
print(a)
print(b)

1
2

# 1. 두 수 비교하기

```markdown
두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.

첫째 줄에 A,B가 주어진다. A와 B는 공백 한 칸으로 구분되어져 있다.
```

In [1]:
a,b=map(int,input().split())

if a>b:
    print(">")
elif a<b:
    print("<")
elif a==b:
    print("==")

2 1
>

# 2. 시험 성적

```markdown
시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 

나머지 점수는 F를 출력하는 프로그램을 작성하시오.
```

In [2]:
a = int(input())

if 100 >= a >89:
    print("A")
elif 89 >= a > 79:
    print("B")
elif 79 >= a > 69:
    print("C")
elif 69 >= a > 59:
    print("D")
else:
    print("F")

100
A

# 3. 윤년
```markdown
연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오. 

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다. 

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 

1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 

하지만, 2000년은 400의 배수이기 때문에 윤년이다.
```

In [10]:
i = int(input())

if (i%4 ==0 and i%400==0) or (i%4 ==0 and i%100!=0):
    print(1)
else:
    print(0)

# 4. 사분면 고르기
```markdown
흔한 수학 문제 중 하나는 주어진 점이 어느 사분면에 속하는지 알아내는 것이다.

사분면은 아래 그림처럼 1부터 4까지 번호를 갖는다. "Quadrant n"은 "제n사분면"이라는 뜻이다.

예를 들어, 좌표가 (12, 5)인 점 A는 x좌표와 y좌표가 모두 양수이므로 제1사분면에 속한다. 

점 B는 x좌표가 음수이고 y좌표가 양수이므로 제2사분면에 속한다.

점의 좌표를 입력받아 그 점이 어느 사분면에 속하는지 알아내는 프로그램을 작성하시오. 

단, x좌표와 y좌표는 모두 양수나 음수라고 가정한다
```

In [14]:
x = int(input())
y = int(input())

# 두 상수의 곱이 양수일땐 1,3사분면
if x*y > 0:
    if x > 0 and y > 0: 
        print(1)
    elif x < 0 and y < 0:
        print(3)
        
# 두 상수의 곱이 음수일땐 2,4사분면        
elif x*y < 0:
    if x < 0 and y > 0: 
        print(2)
    elif x > 0 and y < 0:
        print(4)

9
-13
4

# 5. 알람 시계
```markdown
상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 

항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

바로 "45분 일찍 알람 설정하기"이다.

이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 

어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 이 방법을 사용하면, 

매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 

이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.
```

In [70]:
H,M=map(int,input().split())

if H > 0:
    if M >= 45:
        print(H,M-45)
    elif M < 45:
        print(H-1,M+15)
elif H == 0:
    if M >= 45:
        print(H,M-45)
    elif M < 45:
        print(H+23, M+15)

23
40
22 55